<div>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <table>
        <tr>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        <tr th:each="post : ${postList}">
            <td>
                <a th:href="@{|/post/detail/${post.id}|}" th:text="${post.subject}"></a>
            </td>
            <td th:text="${post.createDate}"></td>
        </tr>
    </table>

    <a th:href="@{/post/create}">
        <input type="submit" value="게시물작성">
    </a>


    <form th:action="@{|/upload|}">
        <input type="submit" value="이미지업로드테스트">
    </form>

</div>