<div xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" type="text/css" th:href="@{/test/style.css}">
    <h1 th:text="${post.subject}" ></h1>
    <div >
        <div class="a" th:text="${post.fileDto.fileName}"></div>
        <div class="a" th:text="${post.content}"></div>
    </div>

    <h5 th:text="|${#lists.size(post.commentList)}개의 댓글이 있습니다.|"></h5>
    <div>
        <ul>
            <li th:each="comment : ${post.commentList}">
                <span th:text="${comment.content}"></span>

                <ul>
                    <li th:each="reply : ${comment.commentList}">
                        <span th:text="${reply.content}"></span>
                    </li>
                </ul>

                <form th:action="@{|/comment/create/${post.id}/${comment.id}|}" method="post">
                    <textarea name="replyContent" rows="3"></textarea>
                    <input type="submit" value="답글 등록">
                </form>
            </li>
        </ul>
    </div>

    <form th:action="@{|/comment/create/${post.id}|}" method="post">
        <textarea name="content" rows="15"></textarea>
        <input type="submit" value="댓글등록">
    </form>
</div>