/* 폰트적용 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Plus+Jakarta+Sans:wght@200;400;500;700&display=swap");
html > body {
  font-family: "Plus Jakarta Sans", "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #191b26;
}
/* 키프레임 */
@keyframes shake {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(-2px) rotate(4deg);
  }
  50% {
    transform: translateX(2px) rotate(-4deg);
  }
  75% {
    transform: translateX(-2px) rotate(4deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

/* 커스텀 */
html > body * {
  white-space: nowrap;
}
body a {
  text-decoration: none;
  color: inherit;
}
body hr {
  color: #909093;
}

/* lib */
body .bg-green-500 {
  background-color: #05a081;
}
body .text-green-500 {
  color: #05a081;
}
body .gr-300 {
  color: #656f79;
}

/* main_top */
.main_top {
  color: white;
  height: 68px;
  position: relative;
}
.main_top::before {
  content: "";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
}
.menu {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  height: 68px;
  align-items: center;
  color: #191b26;
}
.top-bar-bg {
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  height: 68px;
  z-index: 998;
}
.logo {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
}
.small-search-bar {
  background-color: hsla(0, 0%, 100%, 0.24);
  backdrop-filter: blur(12px);
  padding: 10px;
  border-radius: 30px;
  flex-grow: 1;
  margin: 0 40px;
}
.small-search-bar > button {
  margin-left: 8px;
}
.small-search-bar > input {
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  width: 92%;
}
.side_menu > .sign-in {
  display: flex;
  align-items: center;
  border-radius: 24px;
  height: 40px;
  padding: 16px;
  background: hsla(0, 0%, 100%, 0.1);
  border: 2px solid #ceced2;
}
.side_menu > .sign-up {
  display: flex;
  align-items: center;
  border-radius: 24px;
  height: 40px;
  padding: 16px;
  background: hsla(0, 0%, 100%, 0.1);
  border: 2px solid #ceced2;
}
.side_menu > .member_thumbnail {
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
body .sign-up:hover,
body .sign-in:hover {
  border-color: white;
  background-color: hsla(0, 0%, 100%, 0.24);
  backdrop-filter: blur(12px);
}
.upload {
  color: white;
  display: flex;
  align-items: center;
  border-radius: 24px;
  height: 40px;
  padding: 16px;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  transition: 0.3s linear;
}
.upload:hover {
  background-color: rgb(52, 211, 153);
}
.menu .sign-in,
.menu .sign-up {
  border: 2px solid #ceced2;
}
.menu .sign-in:hover,
.menu .sign-up:hover {
  border-color: black;
}

/* main_top_bar */
.content {
  flex-grow: 1;
}
.top_bar {
  height: 80px;
  align-items: center;
}
.member {
  margin: 0 20px 0 10px;
}
.member .img_box {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.member .text-xs {
  color: #656f79;
}

/* menu_top_bar__side-function */
.add_follow {
  color: #656f79;
  font-size: 12px;
}
.add_follow:hover i {
  color: rgb(52, 211, 153);
}
.font-awsome {
  border: 1px solid #dfdfe0;
  height: 40px;
  padding: 0 8px;
}
.font-awsome:hover {
  border-color: #7f7f7f;
}
.click.active {
  border-color: #05a081;
  color: #05a081;
}
.click.active i {
  color: #05a081;
}
.click.active .heart_count {
  color: #05a081;
}
.donwload {
  height: 40px;
  border-radius: 8px;
  background-color: #05a081;
  padding: 0 20px;
  color: white;
  transition: 0.3s linear;
}
.donwload:hover {
  background-color: rgb(52, 211, 153);
}

/* main__img_box */
.content .main_img_box {
  height: 528px;
  overflow: hidden;
  width: min(6000px, 100vw, 100%);
  max-height: 4000px;
  padding: 0 100px;
  position: relative;
}
.content .main_img_box .update_delete_2 {
  display: none;
  position: absolute;
  top: 3%;
  right: 1%;
}
.content .main_img_box:hover .update_delete_2 {
  display: flex;
  position: absolute;
  top: 2%;
  right: 0;
  cursor: pointer;
}
.content .main_img_box .update_delete_2 i {
  padding: 10px;
}
.content .main_img_box .update_delete_2 i:hover {
  color: rgb(52, 211, 153);
  animation: shake 0.5s ease-in-out;
}
.content .main_img_box img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* side_info__specific_box */
.side_info {
  width: 350px;
  padding: 0 0 0 70px;
  flex-shrink: 0;
  padding-top: 94px;
}
.specific_box {
  width: 350px;
}
.specific_box .title {
  font-size: 1.1rem;
}

/* side_info__tag_box */
.tag_box .title {
  font-size: 1.1rem;
}
.tag_box .tag_box_body {
  flex-wrap: wrap;
}
.tag_box .tag_box_body span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 32px;
  padding: 0 12px;
  font-weight: 400;
  border: 1px solid #ceced2;
}

/* side_info__bottom_content */
.bottom_content .title {
  font-size: 1.1rem;
}

/* img_view */
.img_view .img_box {
  width: 380px;
  height: 202px;
  overflow: hidden;
  display: flex;
}
.img_view .img_box img {
  width: 100%;
  object-fit: cover;
}
.img_box_title {
  font-size: 22px;
}
.img_box_title span {
  font-weight: 500;
}
.img_box_title .plus_btn {
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  padding: 0 8px;
}
.img_box_title .plus_btn:hover {
  color: rgb(52, 211, 153);
  font-size: 22px;
  transform: rotate(180deg);
}

/* comment_top_bar */
.comment_box_wrapper {
  font-size: 16px;
}
.comment_top_bar_text {
  font-size: 22px;
}
.comment_top_bar_text span {
  font-weight: 500;
}
.comment_top_bar_text .comment_count {
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.comment_top_bar .form-select {
  width: 170px;
  height: 50px;
  border-color: #ceced2;
}
.comment_top_bar .form-select:focus {
  border-color: rgba(5, 160, 129, 0.25);
  outline: 0;
  box-shadow: 0 0 6px 0.01rem rgba(5, 160, 129, 0.25);
}
.comment_top_bar .form-select option {
  font-size: 20px;
}

/* comment_body_form */
.comment_body_form_wrapper .img_box {
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
}
.comment_body_form_wrapper > form {
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding-bottom: 10px;
}
.comment_body_textarea {
  background-color: #f7f7f7;
  resize: none;
  outline: 0;
  font-size: 18px;
  min-height: 72px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding-left: 6px;
}
.comment_body_registration input {
  height: 42px;
  background-color: white;
  border: 1px solid #ceced2;
  padding: 0 10px;
  border-radius: 20px;
  margin-top: 20px;
}
.comment_body_registration input:hover {
  border-color: #191b26;
}

/* comment_body_regi_wrapper */
.comment_body_regi_wrapper .img_box {
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
}
.regi_wrapper_body {
  width: 100%;
}
.regi_wrapper_body .member-info {
  height: 40px;
}
.regi_wrapper_body .writing {
  white-space: normal;
  overflow-wrap: break-word;
}
.regi_wrapper_body .additional {
  font-size: 18px;
}
.regi_wrapper_body .additional .reply {
  height: 30px;
  align-items: center;
}
.regi_wrapper_body .additional .reply span {
  margin-left: 6px;
  font-size: 16px;
  user-select: none;
}
.regi_wrapper_body .additional .reply_wrapper > div:hover {
  color: rgb(52, 211, 153);
}
.particle_2 {
  border-radius: 20px;
  border: 1px solid #ceced2;
  padding: 10px;
}
.anchor{
  scroll-margin-top: 380px;
}

/* 수정 및 삭제 */
.update_delete_wrap {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
}
.update_delete_wrap .update_delete {
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  right: 50%;
  transform: translateX(50%);
  box-shadow: 0px 0px 5px 2px #ceced2;
}
.update_delete_wrap > i:hover {
  color: rgb(52, 211, 153);
}
.update_delete_wrap .update_delete > a:hover {
  color: rgb(52, 211, 153);
}





/* 반응형 */
@media (min-width: 1600px) {
  .section-1 .grid-item {
    width: calc(100% / 5);
  }
}

@media (max-width: 1599px) and (min-width: 1200px) {
  .section-1 .grid-item {
    width: calc(100% / 4);
  }
}

@media (max-width: 1199px) and (min-width: 800px) {
  .section-1 .grid-item {
    width: calc(100% / 3);
  }
}

@media (max-width: 799px) and (min-width: 600px) {
  .section-1 .grid-item {
    width: calc(100% / 2);
  }
}

@media (max-width: 599px) {
  .section-1 .grid-item {
    width: calc(100% / 1);
  }
}
