<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!-- 링크 순서 주의 -->
  <link rel="stylesheet" href="/css/upload_form.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>게시물 수정 페이지</title>
</head>
<body>
<!-- Top View -->
<div class="main_top">
  <div class="top-bar-bg"></div>
  <div class="menu container gap-3">
    <div class="logo_box flex gap-4">
      <a href="/" class="logo">ArtGallery</a>
    </div>
    <form class="search small-search-bar flex gap-3" action="/search" method="get">
      <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      <input type="text" name="keyword" placeholder="검색어를 입력하세요">
    </form>
    <div class="flex gap-3 side_menu">
      <a sec:authorize="isAnonymous()" th:href="@{/user/login}" class="sign-in">
        로그인
      </a>
      <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}" class="sign-in">
        로그아웃
      </a>
      <a sec:authorize="isAnonymous()" th:href="@{/user/signup}" class="sign-up">
        가입
      </a>
      <a th:href="@{|/user/detail_form/${loginUser.nickname}|}" sec:authorize="isAuthenticated()" class="member_thumbnail">
        <img src="https://picsum.photos/300/300" alt="">
      </a>
      <a th:href="@{/upload}" class="upload gap-2 bg-green-500">
        <div>
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
          <span>
          업로드
        </span>
        </div>
      </a>
    </div>
  </div>
</div>

<form th:action="@{|/post/modify/${post.id}/${loginUser.nickname}|}" method="post" enctype="multipart/form-data" id="modify-form">
  <!-- Uploading2 -->
  <div class="upload-wrapper-2 mt-12">
    <div class="container specific-wrapper flex gap-14 flex-grow">
      <div class="specific_upload_box flex-grow flex">
        <div class="img_box flex flex-1">

        <img id="myImage" th:if="${post.fileEntity != null}" th:src="@{/post/image/{uuid}/{fileName}(uuid=${post.fileEntity.uuid}, fileName=${post.fileEntity.fileName})}"
             alt="My Image" class="img_responsive col-lg-6" />

        </div>
        <div class="input_box flex flex-1 flex-col gap-4">
          <div class="particle p0 flex flex-col">
            <label for="">제목 <span class="text-sm">(선택사항)</span></label>

            <!--     수정     -->
            <input type="text" name="subject" placeholder="제목을 입력하세요" class="w-11/12 p-2" th:value="${post.subject}">

          </div>
          <div class="particle p0-1 flex flex-col gap-1">
            <label for="">내용 <span class="text-sm">(선택사항)</span></label>

            <!--     수정     -->
            <textarea name="content" placeholder="내용을 입력하세요" class="w-11/12 p-2" th:text="${post.content}"></textarea>

          </div>
          <div class="particle p1 flex flex-col">
            <label for="category">카테고리</label>
            <select name="category" id="category" class="w-11/12 p-2">
              <option value="1" selected>Ai Art</option>
              <option value="2">Digital Art</option>
              <option value="3">Fan Art</option>
              <option value="4">Photography</option>
              <option value="5">Fantasy</option>
              <option value="6">Resources</option>
              <option value="7">Cosplay</option>
              <option value="8">3D</option>
              <option value="9">Fractal</option>
              <option value="10">Emoji</option>
            </select>
          </div>
          <div class="particle p2 flex flex-col">
            <label for="">해시태그 <span class="text-sm">(최소 1개, 최대 8개)</span></label>
            <input type="text" id="hashtags-input" placeholder="해시태그를 입력하세요" class="w-11/12 p-2">
          </div>
          <div class="particle p3 flex gap-2 flex-wrap" id="hashtags-display">
            <!-- 기존 해시태그들 출력 -->
            <th:block th:each="hashtag : ${post.hashtags}">
              <div class="tag flex gap-1" id="existTags">
                <span th:text="'#' + ${hashtag.name}"></span>
                <span><i class="fa-solid fa-xmark"></i></span>
              </div>
            </th:block>
            <!-- 입력한 해시태그가 추가될 영역 -->
            <!--      해당 input을 숨겨놓고 데이터 저장해서 컨트롤러로 넘김    -->
            <input type="hidden" name="hashtags" id="hashtags-hidden"/>
          </div>
        </div>
      </div>
    </div>
    <div class="submit_content_bar_wrapper">
      <div class="submit_content_bar flex container">
        <div class="content_left flex justfy-center items-center gap-2">
          <div class="circle"></div>
          <div class="text_box">
            <span class="text-green-500">콘텐츠 업로드 성공</span>
          </div>
        </div>
        <button type="submit" id="submit-button">콘텐츠 제출하기</button>
      </div>
    </div>
  </div>
</form>
<script src="/js/jquery-3.7.0.min.js"></script>
<script src="/js/article_modify_form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/5.0.0/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>