<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="/css/search_form.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>검색 페이지</title>
</head>
<body>
<!-- Top View -->
<div class="main_top">
  <div class="top-bar-bg"></div>
  <div class="menu container gap-3">
    <div class="logo_box flex gap-4">
      <a href="/" class="logo">ArtGallery</a>
    </div>
    <form class="search small-search-bar flex gap-3" action="/search" method="get">
      <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      <input type="text" name="keyword" placeholder="검색어를 입력하세요">
    </form>
    <div class="flex gap-3 side_menu">
      <a sec:authorize="isAnonymous()" th:href="@{/user/login}" class="sign-in">
        로그인
      </a>
      <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}" class="sign-in">
        로그아웃
      </a>
      <a sec:authorize="isAnonymous()" th:href="@{/user/signup}" class="sign-up">
        가입
      </a>
      <a th:href="@{|/user/detail_form/${nicknameConfirm}|}" sec:authorize="isAuthenticated()" class="member_thumbnail">
        <img src="https://picsum.photos/300/300" alt="">
      </a>
      <a th:href="@{/upload}" class="upload gap-2 bg-green-500">
        <div>
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
          <span>
          업로드
        </span>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- List -->
<div class="container mx-auto mt-12">
  <div class="section-1_loading"></div>
  <div class="section-1_middle-bar flex justify-between">
    <div class="middle-title flex gap-2">
      <span th:text="${#lists.size(posts)}"></span>
      <span id="keywordSpan" th:text="${keyword}"></span>
      <span>검색 결과</span>
    </div>
    <select class="form-select" id="sortingOption" onchange="sortPosts()">
      <option value="1" selected>최신순</option>
      <option value="2">인기순</option>
      <option value="3">팔로우</option>
      <option value="4">포인트</option>
    </select>
  </div>
  <section class="section-1">
    <div class="masonry-grid">
      <div class="grid-item" th:each="post : ${posts}">
        <div class="img_top_function flex gap-2">
          <a href="#" class="font-awsome bookmark">
            <i class="fa-solid fa-bookmark"></i>
          </a>
          <a href="#" class="font-awsome heart">
            <i class="fa-solid fa-heart"></i>
          </a>
        </div>
        <a th:href="@{|/user/detail_form/${post.userEntity.nickname}|}" class="img_bottom_function flex gap-2">
          <div class="img_badge">
            <img src="https://picsum.photos/300/300" alt="">
          </div>
          <div class="nName flex items-center" th:text="${post.userEntity.nickname}"></div>
        </a>
        <a th:href="@{|/article/details/${post.userEntity.nickname}/${post.id}|}"
           th:data-post-id="${post.id}" class="img_box post-link">
          <img id="myImage" th:if="${post.fileEntity != null}"
               th:src="@{|/post/image/${post.fileEntity.uuid}/${post.fileEntity.fileName}|}"
               alt="My Image">
        </a>
      </div>
    </div>
  </section>
</div>

<!-- 서버에서 계산된 sortingOption의 값을 클라이언트 사이드의 JavaScript 변수에 넣습니다.-->
<script th:inline="javascript">
    var sortingOptionValue = [[${sortingOption}]];
    var selectElement = document.getElementById("sortingOption");
    for (var i = 0; i < selectElement.options.length; i++) {
        // 문자열과 정수 비교를 위해 sortingOptionValue를 정수로 변환
        if (selectElement.options[i].value === String(sortingOptionValue)) {
            selectElement.options[i].selected = true;
            break;
        }
    }
</script>
<script src="/js/jquery-3.7.0.min.js"></script>
<script src="/js/search_form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/5.0.0/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>