<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/user_detail_form.css">
    <meta charset="UTF-8">
    <title>유저 상세정보 페이지</title>
</head>
<body>
<!-- Top View -->
<div class="main_top">
    <div class="top-bar-bg"></div>
    <div class="menu container gap-3">
        <div class="logo_box flex gap-4">
            <a href="/" class="logo">ArtGallery</a>
        </div>
        <form class="search small-search-bar flex gap-3">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" name="search" placeholder="검색어를 입력하세요">
        </form>
        <div class="flex gap-3 side_menu">
            <a sec:authorize="isAnonymous()" th:href="@{/user/login}" class="sign-in">
                로그인
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}" class="sign-in">
                로그아웃
            </a>
            <a sec:authorize="isAnonymous()" th:href="@{/user/signup}" class="sign-up">
                가입
            </a>
            <a th:href="@{|/user/detail_form/${loginUser.nickname}|}" sec:authorize="isAuthenticated()"
               class="member_thumbnail">
                <img src="https://picsum.photos/300/300" alt="">
            </a>
            <a th:href="@{/upload}" class="upload gap-2 bg-green-500">
                <div>
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                </div>
                <span>
          업로드
        </span>
            </a>
        </div>
    </div>

    <!-- Member -->
    <div class="member flex flex-col">
        <div class="avatar flex justify-center">
            <img src="https://cdn.pixabay.com/user/2021/03/13/05-49-15-380_96x96.jpeg" alt="">
        </div>
        <div class="nname flex mt-3">
            <span class="flex-1 flex justify-center" th:text="${user.nickname}"></span>
        </div>
        <div class="follow flex gap-2 mt-4">
            <div class="flex flex-1 justify-center gap-2">
                <span class="font-bold" th:text="${followerCount}"></span>
                <span class="body">팔로워</span>
            </div>
            <div class="flex flex-1 justify-center gap-2">
                <span class="font-bold" th:text="${followingCount}"></span>
                <span class="body">팔로잉</span>
            </div>
            <!--        본인의 계정이면 '팔로우' 대신 '닉네임 변경' 출력, 다른 유저의 계정이면 '닉네임 변경' 대신 '팔로우' 출력 -->
            <a href="/user/nickname_change_form" sec:authorize="isAuthenticated()" th:if="${isCurrentUser}"
               class="flex flex-1 items-center gap-2 justify-center add_follow">
                <span class="body">닉네임 변경</span>
            </a>
<!--       로그인한 사용자와 현재 상세 페이지의 유저가 다른 경우에만 팔로우 버튼 출력     -->
            <a href="javascript: void(0);" sec:authorize="isAuthenticated()"
               th:data-uri="@{|/api/follow/${loginUser.id}/${user.id}|}"
               th:if="${!isFollowing} and ${!isCurrentUser}"
               class="flex flex-1 items-center gap-2 justify-center add_follow followUser">
                <i class="fa-solid fa-user-plus"></i>
                <span class="body">팔로우</span>
            </a>
<!--        로그인한 사용자와 현재 상세 페이지의 유저가 다른 경우이면서 이미 팔로우 한 경우에는 팔로우 취소 버튼 출력    -->
            <a href="javascript: void(0);" sec:authorize="isAuthenticated()"
               th:data-uri="@{|/api/unfollow/${loginUser.id}/${user.id}|}"
               th:if="${isFollowing} and ${!isCurrentUser}"
               class="flex flex-1 items-center gap-2 justify-center add_follow unfollowUser">
                <i class="fa-solid fa-user-plus"></i>
                <span class="body">팔로우 취소</span>
            </a>
        </div>
        <div class="specific_count flex gap-2 mt-4">
            <div class="flex flex-col flex-1 items-center">
                <span class="head">좋아요</span>
                <span class="body" th:text="${postTotalLikes}"></span>
            </div>
            <div class="flex flex-col flex-1 items-center">
                <span class="head">뷰</span>
                <span class="body" th:text="${postTotalView}"></span>
            </div>
            <!-- th:if 조건을 걸어주어 해당 조건을 통해 출력여부 설정 -->
            <div sec:authorize="isAuthenticated()" th:if="${isCurrentUser}"
                 class="flex flex-col flex-1 items-center point">
                <span class="head">포인트</span>
                <span class="body" th:text="${user.userpoint}"></span>
            </div>
            <div class="flex flex-col flex-1 items-center collection">
                <a href="#" class="head flex gap-2 items-center">
                    <i class="fa-solid fa-bookmark"></i>
                    <span>컬렉션</span>
                </a>
                <span class="body" th:text="${user.usercollection}"></span>
            </div>
        </div>
    </div>
</div>

<!-- List -->
<div class="list container mx-auto">
    <div class="section-1_loading"></div>
    <div class="section-1_middle-bar flex justify-between">
        <span class="middle-title">갤러리 모음</span>
        <select class="form-select">
            <option value="1" selected>최신순</option>
            <option value="2">인기순</option>
            <option value="3">팔로우</option>
        </select>
    </div>
    <section class="section-1">
        <!--   추가   ======================================================  -->
        <table>
            <tr>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
            <tr th:each="post : ${postList}">
                <td>
                    <a th:href="@{|/article/details/${user.nickname}/${post.id}|}" th:text="${post.subject}"
                       class="post-link" th:data-post-id="${post.id}"></a>
                </td>
                <td th:text="${post.createDate}"></td>
            </tr>
        </table>

        <!--      ======================================================  -->
        <div class="masonry-grid">
            <div class="grid-item">
                <div class="img_top_function flex gap-2">
                    <a href="#" class="font-awsome bookmark"> <i class="fa-solid fa-bookmark"></i>
                    </a>
                    <a href="#" class="font-awsome heart">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
                <a href="https://cdpn.io/pen/debug/bGQogqX" class="img_bottom_function flex gap-2">
                    <div class="img_badge">
                        <img src="https://picsum.photos/300/300" alt="">
                    </div>
                    <div class="nName flex items-center">
                        cottonbro studio
                    </div>
                </a>
                <a href="https://cdpn.io/pen/debug/MWzQrme" class="img_box">
                    <img src="https://picsum.photos/200/400" alt="">
                </a>
                <div class="update_delete_wrap">
                    <i class="fa-solid fa-ellipsis text-2xl"></i>
                    <form action="" class="update_delete flex flex-col gap-3 text-xl">
                        <a href="https://cdpn.io/pen/debug/oNQoKxM" class="flex gap-2 items-center text-sm update_btn">
                            <i class="fa-solid fa-pen"></i>
                            <span>수정</span>
                        </a>
                        <div class="flex gap-2 items-center text-sm delete_btn">
                            <i class="fa-solid fa-trash"></i>
                            <span>삭제</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid-item">
                <div class="img_top_function flex gap-2">
                    <a href="#" class="font-awsome bookmark">
                        <i class="fa-solid fa-bookmark"></i>
                    </a>
                    <a href="#" class="font-awsome heart">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
                <a href="https://cdpn.io/pen/debug/bGQogqX" class="img_bottom_function flex gap-2">
                    <div class="img_badge">
                        <img src="https://picsum.photos/300/300" alt="">
                    </div>
                    <div class="nName flex items-center">
                        cottonbro studio
                    </div>
                </a>
                <a href="https://cdpn.io/pen/debug/MWzQrme" class="img_box">
                    <img src="https://picsum.photos/600/400" alt="">
                </a>
                <div class="update_delete_wrap">
                    <i class="fa-solid fa-ellipsis text-2xl"></i>
                    <form action="" class="update_delete flex flex-col gap-4 text-xl">
                        <a href="https://cdpn.io/pen/debug/oNQoKxM" class="flex gap-2 items-center text-sm update_btn">
                            <i class="fa-solid fa-pen"></i>
                            <span>수정</span>
                        </a>
                        <div class="flex gap-2 items-center text-sm delete_btn">
                            <i class="fa-solid fa-trash"></i>
                            <span>삭제</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid-item">
                <div class="insignia absolute px-1">
                    <i class="fa-brands fa-envira"></i>
                </div>
                <div class="img_top_function flex gap-2">
                    <a href="#" class="font-awsome bookmark">
                        <i class="fa-solid fa-bookmark"></i>
                    </a>
                    <a href="#" class="font-awsome heart">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
                <a href="https://cdpn.io/pen/debug/bGQogqX" class="img_bottom_function flex gap-2">
                    <div class="img_badge">
                        <img src="https://picsum.photos/300/300" alt="">
                    </div>
                    <div class="nName flex items-center">
                        cottonbro studio
                    </div>
                </a>
                <a href="https://cdpn.io/pen/debug/MWzQrme" class="img_box">
                    <img src="https://picsum.photos/400/300" alt="">
                </a>
                <div class="update_delete_wrap">
                    <i class="fa-solid fa-ellipsis text-2xl"></i>
                    <form action="" class="update_delete flex flex-col gap-3 text-xl">
                        <a href="https://cdpn.io/pen/debug/oNQoKxM" class="flex gap-2 items-center text-sm update_btn">
                            <i class="fa-solid fa-pen"></i>
                            <span>수정</span>
                        </a>
                        <div class="flex gap-2 items-center text-sm delete_btn">
                            <i class="fa-solid fa-trash"></i>
                            <span>삭제</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid-item">
                <div class="img_top_function flex gap-2">
                    <a href="#" class="font-awsome bookmark">
                        <i class="fa-solid fa-bookmark"></i>
                    </a>
                    <a href="#" class="font-awsome heart">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
                <a href="https://cdpn.io/pen/debug/bGQogqX" class="img_bottom_function flex gap-2">
                    <div class="img_badge">
                        <img src="https://picsum.photos/300/300" alt="">
                    </div>
                    <div class="nName flex items-center">
                        cottonbro studio
                    </div>
                </a>
                <a href="https://cdpn.io/pen/debug/MWzQrme" class="img_box">
                    <img src="https://picsum.photos/300/600" alt="">
                </a>
                <div class="update_delete_wrap">
                    <i class="fa-solid fa-ellipsis text-2xl"></i>
                    <form action="" class="update_delete flex flex-col gap-3 text-xl">
                        <a href="https://cdpn.io/pen/debug/oNQoKxM" class="flex gap-2 items-center text-sm update_btn">
                            <i class="fa-solid fa-pen"></i>
                            <span>수정</span>
                        </a>
                        <div class="flex gap-2 items-center text-sm delete_btn">
                            <i class="fa-solid fa-trash"></i>
                            <span>삭제</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid-item">
                <div class="img_top_function flex gap-2">
                    <a href="#" class="font-awsome bookmark">
                        <i class="fa-solid fa-bookmark"></i>
                    </a>
                    <a href="#" class="font-awsome heart">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
                <a href="https://cdpn.io/pen/debug/bGQogqX" class="img_bottom_function flex gap-2">
                    <div class="img_badge">
                        <img src="https://picsum.photos/300/300" alt="">
                    </div>
                    <div class="nName flex items-center">
                        cottonbro studio
                    </div>
                </a>
                <a href="https://cdpn.io/pen/debug/MWzQrme" class="img_box">
                    <img src="https://picsum.photos/1200/800" alt="">
                </a>
                <div class="update_delete_wrap">
                    <i class="fa-solid fa-ellipsis text-2xl"></i>
                    <form action="" class="update_delete flex flex-col gap-3 text-xl">
                        <a href="https://cdpn.io/pen/debug/oNQoKxM" class="flex gap-2 items-center text-sm update_btn">
                            <i class="fa-solid fa-pen"></i>
                            <span>수정</span>
                        </a>
                        <div class="flex gap-2 items-center text-sm delete_btn">
                            <i class="fa-solid fa-trash"></i>
                            <span>삭제</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid-item">
                <div class="img_top_function flex gap-2">
                    <a href="#" class="font-awsome bookmark">
                        <i class="fa-solid fa-bookmark"></i>
                    </a>
                    <a href="#" class="font-awsome heart">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
                <a href="https://cdpn.io/pen/debug/bGQogqX" class="img_bottom_function flex gap-2">
                    <div class="img_badge">
                        <img src="https://picsum.photos/300/300" alt="">
                    </div>
                    <div class="nName flex items-center">
                        cottonbro studio
                    </div>
                </a>
                <a href="https://cdpn.io/pen/debug/MWzQrme" class="img_box">
                    <img src="https://picsum.photos/600/300" alt="">
                </a>
                <div class="update_delete_wrap">
                    <i class="fa-solid fa-ellipsis text-2xl"></i>
                    <form action="" class="update_delete flex flex-col gap-3 text-xl">
                        <a href="https://cdpn.io/pen/debug/oNQoKxM" class="flex gap-2 items-center text-sm update_btn">
                            <i class="fa-solid fa-pen"></i>
                            <span>수정</span>
                        </a>
                        <div class="flex gap-2 items-center text-sm delete_btn">
                            <i class="fa-solid fa-trash"></i>
                            <span>삭제</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid-item">
                <div class="img_top_function flex gap-2">
                    <a href="#" class="font-awsome bookmark">
                        <i class="fa-solid fa-bookmark"></i>
                    </a>
                    <a href="#" class="font-awsome heart">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
                <a href="https://cdpn.io/pen/debug/bGQogqX" class="img_bottom_function flex gap-2">
                    <div class="img_badge">
                        <img src="https://picsum.photos/300/300" alt="">
                    </div>
                    <div class="nName flex items-center">
                        cottonbro studio
                    </div>
                </a>
                <a href="https://cdpn.io/pen/debug/MWzQrme" class="img_box">
                    <img src="https://picsum.photos/400/600" alt="">
                </a>
                <div class="update_delete_wrap">
                    <i class="fa-solid fa-ellipsis text-2xl"></i>
                    <form action="" class="update_delete flex flex-col gap-3 text-xl">
                        <a href="https://cdpn.io/pen/debug/oNQoKxM" class="flex gap-2 items-center text-sm update_btn">
                            <i class="fa-solid fa-pen"></i>
                            <span>수정</span>
                        </a>
                        <div class="flex gap-2 items-center text-sm delete_btn">
                            <i class="fa-solid fa-trash"></i>
                            <span>삭제</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid-item">
                <div class="img_top_function flex gap-2">
                    <a href="#" class="font-awsome bookmark">
                        <i class="fa-solid fa-bookmark"></i>
                    </a>
                    <a href="#" class="font-awsome heart">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
                <a href="https://cdpn.io/pen/debug/bGQogqX" class="img_bottom_function flex gap-2">
                    <div class="img_badge">
                        <img src="https://picsum.photos/300/300" alt="">
                    </div>
                    <div class="nName flex items-center">
                        cottonbro studio
                    </div>
                </a>
                <a href="https://cdpn.io/pen/debug/MWzQrme" class="img_box">
                    <img src="https://picsum.photos/1920/1080" alt="">
                </a>
                <div class="update_delete_wrap">
                    <i class="fa-solid fa-ellipsis text-2xl"></i>
                    <form action="" class="update_delete flex flex-col gap-3 text-xl">
                        <a href="https://cdpn.io/pen/debug/oNQoKxM" class="flex gap-2 items-center text-sm update_btn">
                            <i class="fa-solid fa-pen"></i>
                            <span>수정</span>
                        </a>
                        <div class="flex gap-2 items-center text-sm delete_btn">
                            <i class="fa-solid fa-trash"></i>
                            <span>삭제</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid-item">
                <div class="img_top_function flex gap-2">
                    <a href="#" class="font-awsome bookmark">
                        <i class="fa-solid fa-bookmark"></i>
                    </a>
                    <a href="#" class="font-awsome heart">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
                <a href="https://cdpn.io/pen/debug/bGQogqX" class="img_bottom_function flex gap-2">
                    <div class="img_badge">
                        <img src="https://picsum.photos/300/300" alt="">
                    </div>
                    <div class="nName flex items-center">
                        cottonbro studio
                    </div>
                </a>
                <a href="https://cdpn.io/pen/debug/MWzQrme" class="img_box">
                    <img src="https://picsum.photos/400/300" alt="">
                </a>
                <div class="update_delete_wrap">
                    <i class="fa-solid fa-ellipsis text-2xl"></i>
                    <form action="" class="update_delete flex flex-col gap-3 text-xl">
                        <a href="https://cdpn.io/pen/debug/oNQoKxM" class="flex gap-2 items-center text-sm update_btn">
                            <i class="fa-solid fa-pen"></i>
                            <span>수정</span>
                        </a>
                        <div class="flex gap-2 items-center text-sm delete_btn">
                            <i class="fa-solid fa-trash"></i>
                            <span>삭제</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid-item">
                <div class="img_top_function flex gap-2">
                    <a href="#" class="font-awsome bookmark">
                        <i class="fa-solid fa-bookmark"></i>
                    </a>
                    <a href="#" class="font-awsome heart">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
                <a href="https://cdpn.io/pen/debug/bGQogqX" class="img_bottom_function flex gap-2">
                    <div class="img_badge">
                        <img src="https://picsum.photos/300/300" alt="">
                    </div>
                    <div class="nName flex items-center">
                        cottonbro studio
                    </div>
                </a>
                <a href="https://cdpn.io/pen/debug/MWzQrme" class="img_box">
                    <img src="https://picsum.photos/600/800" alt="">
                </a>
            </div>
        </div>
    </section>
</div>
<script src="/js/jquery-3.7.0.min.js"></script>
<script src="/js/increase_view.js"></script>
<script src="/js/user_detail_form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/5.0.0/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>